<article>
    <h3 style="margin-top: 2.5rem">“Be brave to start, strong to continue, and dedicated to reach your goal.”</h3>

    <h4 style="margin-top: 5rem; line-height: 1.6;">I am a persistent and motivated Python developer who has learned programming through self-study and continuous improvement. Software development is my passion: building efficient, well-designed programs that solve real problems. I believe code is not just a tool but a form of creative expression, where elegance and simplicity matter most...</h4>

    <div style="display:flex; gap:.5rem; flex-wrap:wrap; margin-top: 5rem">
        <a href="{{url_for('about')}}" class="btn btn-custom btn-custom-text">
          Open for full details
        </a>
        <!--button type="button" onclick="window.dispatchEvent(new CustomEvent('close-panel'))" class="btn btn-custom">
          Close
        </button-->
      </div>


</article>