{% extends "base.html" %}

{% from 'bootstrap/form.html' import render_form %}

{% block title %}
    Contact
{% endblock %}

{%block nav_items%}
    {% if active_page == "contact_me" %}

        <li class="nav-item me-5">
            <a class="nav-link" href="{{url_for('home')}}">Home</a>
        </li>
        
        <li class="nav-item me-5">
            <a class="nav-link {% if active_page == 'contact_me' %}active{% endif %}" href="{{ url_for('contact') }}">Contact Me</a>
        </li>
    {% endif %}
{%endblock%}

{% block content %}
    <main class="main-position">
        <div class="ms-6">
            
            <h1 class="mt-5" style="padding-top: 40px">_> Send a message</h1>

            <div class="messageform">
                {{render_form(form)}}
            </div>
            
        </div>
    </main>
{% endblock %}